{% load static %}   
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href=" {% static 'images/crypto-join.png' %} ">

    <title>Rocket Analytics</title>
    
	<!-- Vendors Style-->
	<link rel="stylesheet" href=" {% static 'css/vendors_css.css' %} ">
	  
	<!-- Style-->  
	<link rel="stylesheet" href=" {% static 'css/style.css' %} ">
	<link rel="stylesheet" href=" {% static 'css/skin_color.css' %} ">
     
  </head>

<body class="hold-transition dark-skin sidebar-mini theme-warning fixed">
	
<div class="wrapper">
	<div id="loader"></div>
	
  <header class="main-header">
	<div class="d-flex align-items-center logo-box justify-content-start">
		<a href="#" class="waves-effect waves-light nav-link rounded d-none d-md-inline-block push-btn" data-toggle="push-menu" role="button">
			<img src=" {% static 'images/svg-icon/collapse.svg' %} " class="img-fluid svg-icon" alt="">
		</a>
		<!-- Logo -->
		<a href=" {% static 'index.html' %} " class="logo">
		  <div class="logo-lg">
			  <p style=font-size:20px><b>Rocket Analytics</b></p>
		  </div>
		</a>	
	</div>  
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
	  <div class="app-menu">
		<ul class="header-megamenu nav">
			<li class="btn-group nav-item d-md-none">
				<a href="#" class="waves-effect waves-light nav-link push-btn btn-outline no-border" data-toggle="push-menu" role="button">
					<img src=" {% static 'images/svg-icon/collapse.svg' %} " class="img-fluid svg-icon" alt="">
			    </a>
			</li>				 
			<li class="btn-group nav-item">
				<a href="#" data-provide="fullscreen" class="waves-effect waves-light nav-link btn-outline no-border full-screen" title="Full Screen">
					<img src=" {% static 'images/svg-icon/fullscreen.svg' %} " class="img-fluid svg-icon" alt="">
			    </a>
			</li>
		</ul> 
	  </div>
    </nav>
  </header>
  
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">	
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">	
				<li class="treeview">
				  <a href=" {% static 'index.html' %} ">
					<img src=" {% static 'images/svg-icon/sidebar-menu/dashboard.svg' %} " class="svg-icon" alt="">
					<span>Dashboard</span>
				  </a>
				</li>
			  </ul>
			  
			  <div class="sidebar-widgets">	
				<div class="mx-25 mb-30 pb-20 side-bx bg-primary rounded20">
					<div class="text-center">
						<img src=" {% static 'images/crypto-join.png' %} " class="sideimg" alt="">
						<h3 class="title-bx">Play Now!</h3>
						<a class="text-white py-10 fs-16 mb-0">
						Earn more Eternals
						</a>
					</div>
				</div>  
			  </div>
		  </div>
		</div>
    </section>
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">			
			<div class="row">
				<div class="col-12">
					<div class="box">
					  <div class="box-header with-border">
						<h4 class="box-title">Rocket Analytics - How to Use</h4>
						<h6 class="box-subtitle">Learn how to use our platform step by step</h6>
					  </div>
					  <!-- /.box-header -->
					  <div class="box-body">
						  <!-- Nav tabs -->
						  <div class="vtabs">
							  <ul class="nav nav-tabs tabs-vertical" role="tablist">
								  <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href=" {% static '#home4' %} " role="tab"><span class="hidden-sm-up"><i class="ion-home"></i></span> <span class="hidden-xs-down">Intro</span> </a> </li>
								  <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href=" {% static '#profile4' %} " role="tab"><span class="hidden-sm-up"><i class="ion-person"></i></span> <span class="hidden-xs-down">AI Strategy</span></a> </li>
								  <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href=" {% static '#messages4' %} " role="tab"><span class="hidden-sm-up"><i class="ion-email"></i></span> <span class="hidden-xs-down">Data Platform</span></a> </li>
							  </ul>
							  <!-- Tab panes -->
							  <div class="tab-content">
								  <div class="tab-pane active" id="home4" role="tabpanel">
									  <div class="p-5">
										  <h3>Introduction</h3>
										  <h6>This project is created by Rocket Analysis – a group of crypto and game enthusiasts. 
											  Feel free to talk with us via the account Rocket007#2872. 
											  We aim to help more crypto game users make more money🚀 based on data. We have two functions right now.</h6>
										    <h4>Cryptomines Data platform:</h4>
											<h6>You can view all latest NFTs prices on the platform. Add the workers and spaceships to the shopping cart. 
												We help you calculate out ROIs.</h6>
											<h4>AI Strategy Calculator:</h4>
											<h6>You just need to input your budget. We will use AI algorithms to help you find the best strategies. 
												This is just for reference.</h6>
									  </div>
								  </div>
								  <div class="tab-pane" id="profile4" role="tabpanel">
									  <div class="p-15">
										  <h3>AI Strategy</h3>
										  <h6>You just need to input your budget. We will give you the best strategies based on ML algorithm. 
											  Attention: This is just for reference.</h6>
									  </div>
								  </div>
								  <div class="tab-pane" id="messages4" role="tabpanel">
									  <div class="p-15">
										  <h3>Data Platform</h3>
										  <h6>We provide the latest minimum price of workers and spaceships in the marketplace. 
											  You can use the data to add the workers and spaceships to the shopping cart. 
											  We will help you calculate the total cost, minging power, and ROIs.</h6>
									  </div>
								  </div>
							  </div>
						  </div>
					  </div>
					  <!-- /.box-body -->
					</div>
					<!-- /.box -->
				  </div>
				  <!-- /.col -->

				<div class="col-12">
					<div class="box-header with-border">
						<h4 class="box-title">Tell Us Your Budget and Get Your Fleet Plan:</h4>
					</div>
				</div>

				<div class="col-12">
					<div class="row align-items-center">
						<div class="col-lg-6 col-12">
							<div class="box">
								<div class="box-header with-border">
									<h4 class="box-title">Cryptomines Optimizer</h4>
									<h6 class="box-subtitle">Enter your expected investment and we will return you the best strategy!</h6>
								</div>
								<div class="box-body">
								<form novalidate>
									<div class="form-group">
										<h5>Your Budget <span class="text-danger">*</span></h5>
										<div class="input-group"> <span class="input-group-addon">$</span>
											<input type="number" name="onlyNum" class="form-control" required data-validation-required-message="This field is required"> <span class="input-group-addon">.00</span> 
										</div>
									</div>
									<div class="d-flex justify-content-between pt-5">
										<button type="button" class="btn btn-success">Optimize</button>
									</div>
								</form>
								</div>
							</div>
						</div>
						<div class="col-lg-6 col-12">
							<div class="box">
								<div class="box-header with-border">
									<h4 class="box-title">Optimizer Results</h4>
								</div>
								<div class="box-body">
								<form novalidate>
									<div class="form-group">
										<div class="input-group"> <span class="input-group-addon">Workers</span>
											<input type="number" name="onlyNum" class="form-control" readonly="readonly"> 
										</div>
										<br>
										<div class="input-group"> <span class="input-group-addon">Spaceships</span>
											<input type="number" name="onlyNum" class="form-control" readonly="readonly"> 
										</div>
										<br>
										<div class="input-group"> <span class="input-group-addon">ROI(%)</span>
											<input type="number" name="onlyNum" class="form-control" readonly="readonly">
										</div>
									</div>
								</form>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12">
					<div class="box-header with-border">
						<h4 class="box-title">Design Your Own Fleet Based on the Latest Market Price:</h4>
					</div>
				</div>
				
				<div class="col-xl-4 col-12">
					<div class="col-12">
						<div class="box">
							<div class="box-header">
								<h4 class="box-title">Spaceships </h4>
								<div class="box-controls pull-right">
									Total: 406.00
								</div>
							</div>
							<div class="box-body pt-0">
								<div class="table-responsive buy-sall-table">
									<table class="table table-hover mb-0">
										<thead>							  	
											<tr>
												<th width="25%">Price</th>
												<th>Capacity</th>
												<th>Min Price: (ETL)</th>
											</tr>
										</thead>
										<tbody>
											<tr><td>1</td> <td></i> 1</td><td><i class="cc BTC fs-14 me-5"></i>{{worker1}}</td></tr>
											<tr><td>2</td> <td></i> 2</td><td><i class="cc BTC fs-14 me-5"></i>{{worker2}}</td></tr>
											<tr><td>3</td> <td></i> 3</td><td><i class="cc BTC fs-14 me-5"></i>{{worker3}}</td></tr>
											<tr><td>4</td> <td></i> 4</td><td><i class="cc BTC fs-14 me-5"></i>{{worker4}}</td></tr>
											<tr><td>5</td> <td></i> 5</td><td><i class="cc BTC fs-14 me-5"></i>{{worker5}}</td></tr>
										</tbody>							
									</table>
								</div>
							</div>
						</div>
					  </div>
					<div class="box">
						<div class="box-body">
						  <ul class="nav nav-pills mb-20" role="tablist">
							<li class="nav-item">
							  <a class="nav-link active fs-18" data-bs-toggle="tab" href=" {% static '#market' %} " role="tab">Spaceship</a>
							</li>
							<li class="nav-item">
							  <a class="nav-link fs-18" data-bs-toggle="tab" href=" {% static '#limit' %} " role="tab">Workers</a>
							</li>
						  </ul>
						  <div class="tab-content">
							<div class="tab-pane fade active show" id="market">
							  <form>
								<div class="input-group mt-15 mb-20">
									<input type="text" class="form-control" placeholder="1">
									<span class="input-group-text">Star</span>
								</div>
								<div class="input-group mb-20">
									<input type="text" class="form-control" placeholder="1">
									<span class="input-group-text">Quantity</span>
								</div>

								<div class="d-flex justify-content-between pt-5">
									<button type="button" class="btn btn-danger mt-0">Remove</button>
									<button type="button" class="btn btn-success">Add</button>
								</div>
							  </form>
							</div>
							<div class="tab-pane fade" id="limit">
							  <form>
								<div class="input-group mt-15 mb-20">
									<input type="text" class="form-control" placeholder="1">
									<span class="input-group-text">MP</span>
								</div>
								<div class="input-group mb-20">
									<input type="text" class="form-control" placeholder="1">
									<span class="input-group-text">Quantity</span>
								</div>

								<div class="d-flex justify-content-between pt-5">
									<button type="button" class="btn btn-danger mt-0">Remove</button>
									<button type="button" class="btn btn-success">Add</button>
								</div>
							  </form>
							</div>
						  </div>
						</div>
					</div>
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Fleet Info</h4>
						</div>
						<div class="box-body">
							<div class="d-flex justify-content-between bb-1 pb-5">
								<h5 class="text-fade">Category</h5>
								<h5 class="text-fade">Count</h5>
							</div>
							<div class="d-flex justify-content-between pb-5 pt-10">
								<h4>Total Workers</h4>
								<h4>11/11</h4>
							</div>
							<div class="d-flex justify-content-between pb-10">
								<h4>Total MP</h4>
								<h4>1000</h4>
							</div>
							<div class="d-flex justify-content-between pb-10">
								<h4>Fleet Rank</h4>
								<h4>A</h4>
							</div>
							<div class="d-flex justify-content-between pb-10">
								<h4>Total Cost</h4>
								<h4>$ 300</h4>
							</div>
							<div class="d-flex justify-content-between pb-10">
								<h4>7 Day ROI (%)</h4>
								<h4>3</h4>
							</div>
							<div class="d-flex justify-content-between pb-10">
								<h4>15 Day ROI (%)</h4>
								<h4>5</h4>
							</div>
						</div>
					</div>		
				</div>
				<div class="col-xl-8 col-12">
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Workers</h4>
						</div>
						<div class="box-body">
							<div class="chart">
								<div id="controls" style="width: 100%; overflow: hidden;">
									<div class="row align-items-center">
										<div class="col-lg-6 col-12">											
											<div class="d-flex align-items-center g-1">
												From: <input type="text" id="fromfield" class="amcharts-input form-control" />
												To: <input type="text" id="tofield" class="amcharts-input form-control" />
												MP
											</div>
										</div>
										<div class="col-lg-6 col-12">											
											<div class="text-end mt-10 mt-lg-0">
												<button id="b1m" class="amcharts-input btn btn-primary">1 star</button>
												<button id="b3m" class="amcharts-input btn btn-primary">2 star</button>
												<button id="b6m" class="amcharts-input btn btn-primary">3 star</button>
												<button id="b1y" class="amcharts-input btn btn-primary">4 star</button>
												<button id="bytd" class="amcharts-input btn btn-primary">5 star</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="chartdiv30" class="h-400"></div>
						</div>
					</div>
					<div class="box">
						<div class="box-header with-border">
						  <h4 class="box-title">Your Current Fleet</h4>
						</div>
						<div class="box-body">
							<div class="table-responsive buyorder">
								<table class="table no-margin min-pad-table">
									<thead>
										<tr>
											<th>Star</th>
											<th>Price</th>
											<th>Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<td>1</td>
										<td>17800.00</td>
										<td>2</td>
										</tr>
										<tr>
										<td>2</td>
										<td>13950.00</td>
										<td>2</td>
										</tr>
										<tr>
										<td>3</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
										<tr>
										<td>4</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
										<tr>
										<td>5</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="table-responsive buyorder">
								<table class="table no-margin min-pad-table">
									<thead>
										<tr>
											<th>MP</th>
											<th>Price</th>
											<th>Quantity</th>
										</tr>
									</thead>
									<tbody>
										<tr>
										<td>1</td>
										<td>17800.00</td>
										<td>2</td>
										</tr>
										<tr>
										<td>2</td>
										<td>13950.00</td>
										<td>2</td>
										</tr>
										<tr>
										<td>3</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
										<tr>
										<td>4</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
										<tr>
										<td>5</td>
										<td>19555.22</td>
										<td>2</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="d-flex justify-content-between pt-5">
								<button type="button" class="btn btn-danger mt-0">Clear</button>
								<button type="button" class="btn btn-success mt-0">Calculate</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
	  &copy; 2021 <a href="#">Rocket Analytics</a>. All Rights Reserved.
  </footer>

  <!-- Control Sidebar -->
  <aside class="control-sidebar">
	  
	<div class="rpanel-title">
		<span class="pull-right btn btn-circle p-10">
			<img src=" {% static 'images/svg-icon/close.svg' %} " data-toggle="control-sidebar" class="img-fluid svg-icon" alt="">
		</span> 
	</div>  <!-- Create the tabs -->
    <ul class="nav nav-tabs control-sidebar-tabs">
      <li class="nav-item"><a href=" {% static '#control-sidebar-home-tab' %} " data-bs-toggle="tab" class="active"><img src=" {% static 'images/svg-icon/apps.svg' %} " class="img-fluid svg-icon" alt=""></a></li>
      <li class="nav-item"><a href=" {% static '#control-sidebar-settings-tab' %} " data-bs-toggle="tab"><img src=" {% static 'images/svg-icon/advanced.svg' %} " class="img-fluid svg-icon" alt=""></a></li>
    </ul>
  </aside>
  <!-- /.control-sidebar -->
  
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
  
</div>
<!-- ./wrapper -->	
	
	<!-- Vendor JS -->
	<script src=" {% static 'js/vendors.min.js' %} "></script>
	<script src=" {% static 'js/pages/chat-popup.js' %} "></script>
    <script src=" {% static 'assets/icons/feather-icons/feather.min.js' %} "></script>
	
	<script src=" {% static 'assets/vendor_components/apexcharts-bundle/irregular-data-series.js' %} "></script>
	<script src=" {% static 'assets/vendor_components/apexcharts-bundle/dist/apexcharts.js' %} "></script>	
	<script src=" {% static 'assets/vendor_components/Web-Ticker-master/jquery.webticker.min.js' %} "></script>	
    <script src=" {% static 'assets/vendor_components/datatable/datatables.min.js' %} "></script>
	<script src="https://www.amcharts.com/lib/4/core.js"></script>
	<script src="https://www.amcharts.com/lib/4/charts.js"></script>
	<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
	<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
    <script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
	
	<!-- Crypto Tokenizer Admin App -->
	<script src=" {% static 'js/template.js' %} "></script>
	<script src=" {% static 'js/dashboard.js' %} "></script>
	
</body>
</html>